body {
  background-color: purple;
}
.upper-image {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}
img {
  width: 200px;
  text-align: center;
  border: 5px solid pink;
  border-radius: 30px;
}
.안녕하세요 {
  text-align: center;
}
